{% extends 'base.html' %}
{% block titre %}{{ projet.titre }}{% endblock %}
{% block contenu %}
<a href='{{ url_for("main.index") }}'>&larr; Retour</a>
<h1>{{ projet.titre }}</h1>
<span class='badge badge-{{ projet.statut.replace("_","-") }}'>
{{ projet.statut.replace('_',' ').title() }}
</span>
<p>{{ projet.description }}</p>
<p>Technologies : {{ projet.technologies }}</p>
{% if projet.url_github %}
<a href='{{ projet.url_github }}' target='_blank'>GitHub</a>
{% endif %}
<p>Date : {{ projet.created_at.strftime('%d/%m/%Y') }}</p>
{% endblock %}
